
// ==========================================================================
// Footer
// ==========================================================================

.footer{
  color: $gray5;
  padding: $base3;
  text-align: center;
}
