

// ==========================================================================
// Typography
// ==========================================================================

// Body
html, body{
  overflow-x: hidden;
  background: $gray3;
  font-family: 'lato', helvetica, arial, sans-serif;;
  line-height: 1.5;
  letter-spacing: 0.03rem;
  color: $bodyFontColor;
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

// Headers
// ==========================================================================

h1,h2,h3,h4,h5,h6{
  color: $titleFontColor;
  margin: 0;
  line-height: 1.1;
}

// Links
// ==========================================================================

a,.link{
  color: $ctaColor;
  text-decoration: none;
  &:hover,
  &:active,
  &.active{
    color: $ctaColorHover;
  }
  &:focus{
    color: $ctaColorFocus;
  }
}

// Responsive Font Sizing
// ==========================================================================

:root { font-size: #{$minFont}px; }
// This part is a little bit ugly, I will explain what is going on in a blog post soon.
@media (min-width: #{$minWidth}px) and (max-width: #{$maxWidth}px){
  :root {
    font-size: calc( #{$minFont}px + (#{$maxFont} - #{$minFont}) * ( (100vw - #{$minWidth}px) / ( #{$maxWidth} - #{$minWidth}) ));
  }
}
@media (min-width: #{$maxWidth}px){
   :root {
     font-size: #{$maxFont}px;
   }
}
